/* CSS Document */
*{
	margin: 0;
	padding: 0;
	color:#fff; text-decoration: none;
	
}
.monospace {
	font-family: "Lucida Console", Courier, monospace;
	display:inline-block;
    padding:10px;
}
#wrapper{
	width: 100%;
	height: 100%;
	
}


.line-1{
    position: relative;
    top: 50%;  
    width: 20px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.banner h1{
	text-align: center;
/*	padding-top: 450px;*/
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 29px;
	animation: typewriter 4s steps(44) 1s infinite normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
	animation-direction: alternate-reverse;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 18em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.header{
	width: 100%;
	height: 80px;
	background-color: #FFFFFF;	
	position:fixed;
	z-index: 1000;
	opacity: 95%;
	
}
.logo img{
	width: 150px;
	padding-left: 15px;
	padding-top: 12px;
	float:left;
	position: relative;
	transition: all 1s;
	z-index: 2;
}
.logo img:hover{
	transform: scale(1.2);

}
.menu{
	text-align: center;
	padding-top: 28px;
	float:left;
}	

.menu ul{
	
	list-style: none;
	margin:0;
	padding:0;


}
.menu a{
	display: block;
}

.menu ul li{
	font-size: 20px;
	display:inline-block;
	color:#000000;
	position: relative;

	line-height: 30px;
/*	margin-top: 10px;*/
		 
}
.menu ul li ul{
	position: absolute;
	background: #FFFFFF;
	opacity: 95%;
	float: none;
	visibility: hidden;
	text-align: left;
/*	animation: len 2s linear;*/
	
}
/*

@keyframes len{
	from{
		bottom: 20px;
		opacity: 10%;
	}
	to{
		bottom: 0;
		opacity: 100%;
	}
}
*/
.menu ul li:hover ul{
	visibility: visible;
}
.menu li:hover{
	text-decoration: underline;
}
.menu a{
	color: black;
	font-weight: 500;
}

.menu{
/*	background-color: blue;*/
/*	margin-left: 100px;*/
	width: 100%;
	position: absolute;
	z-index: 1;
	
}

.icon{
	
/*	background-color: red;*/
	float:right;
	margin-right: 50px;
	z-index: 3;
	position: relative;
	color:red;
}
.fas{
	color: black;
	margin-top: 32px;
	
}
.banner{
	background-image: url("../bg1.1.png");
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	
}
.ani1 img{
	width: 200px;
	position: absolute;
	right: 50px;
	bottom: 100px;
	animation: lx 5s linear infinite;
	animation-direction: alternate-reverse;
}
.ani2 img{
	width: 200px;
	position: absolute;
	left: 50px;
	top: 100px;
	animation: lx2 5s linear infinite ;
	animation-direction: alternate-reverse;
}
@keyframes lx{
	0%{
		
		bottom: 100px;
}
	50%{
		
		bottom: 300px;
	}
	100%{
		
		bottom: 100px;
	}
}
@keyframes lx2{
	0%{
		
		top: 100px;
}
	50%{
		
		top: 300px;
	}
	100%{
		
		top: 100px;
	}
}


.hinh1{
	background-image: url("../hinh1.jpg");
	background-size: cover;
	width: 45%;
	height: 800px;
	float:left;
	margin-top: 20px;
	margin-left: 50px;
	z-index: 2;
	transition: all 1s;
}
.hinh2{
	width: 45%;
	background-image: url("../hinh2.jpg");
	background-size: cover;
	height: 800px;
	float: right;
	margin-top: 20px;
	margin-right: 50px;
	z-index: 1;
	transition: all 1s;
}
.hinh1:hover{
	transform: scale(1.01);
	opacity: 90%;
}
.hinh2:hover{
	transform: scale(1.01);
	opacity: 90%;
}


.p1{
	text-align: center;
	margin-top: 350px;
}
.text{
	
	background-color: #FFFFFF;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 40px;
}
.text h1{
	color:black;
	
}


h3{
	color: black;
}
p{
	color: black;
}


.na1 img{
	width: 30%;
	float: left;
	padding: 0 1.66%;
}
.na2 img{
	width: 30%;
	float:left;
	padding: 0 1.66%;
}


.product h3{
	width: 30%;
	float:left;
	padding: 0 1.66%;
	text-align: center;
	margin-bottom: 50px;

	
}

.ss3{
	width: 100%;
	height: 100%;
/*	background-color: darkcyan;*/
	float: left;
	text-align: center;
	
}
.bt h2{
/*	background-color:red;*/
	width: 150px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	padding-top: 15px;
	border: 2px solid black;
	color: black;
}
.bt h1{
	color: black;
	margin-top:100px;
	margin-bottom: 40px;
}
.bt img{
	margin: 0 auto;
	width: 500px;
}

h6,h5{
	color: black;
	text-transform: uppercase;
}
.rd{
	margin-top: 50px;
	width: 100%;
	height: 120px;
	background-color: #EFEFEF;
	text-transform: uppercase;
	

}

p,h2,span{
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

}
.gt{
	margin-top:40px;
	float: left;
/*	background: red;*/
	margin-bottom: 40px;

}
h2{
	
	text-align: center;
	margin-bottom: 20px;
}
span{
		width: 70%;
}
.chu{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: black;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
	color: white;}
	.fa-instagram {
  background: #125688;
  color: white;
}
/*
.bg{
	width: 100%;
	float: left;
}
*/
.add{
	width:100%;
	
	text-align: center;
	
}
.icon2 a{
	width: 20%;
	
	
	margin-bottom: 30px;
}
.cuoi{
	width: 100%;
	height: 80px;
	border-top: 0.1px solid #2D2D2D;
}
.cuoi p{
	text-align: center;
	color: #515151;
	margin-top: 30px;
}
.ss1{
	width: 100%;
	height: 600px;
/*	background-color: aquamarine;*/
}
.sec1{
	background: url("../muillu-B6EOsmCLVSM-unsplash.jpg");
	background-size: cover;
	width: 100%;
	height: 300px;
	padding: 120px 0;
	text-align: center;
	margin-bottom: 30px;

}
h1{
	text-align: center;
	color: #fff;
    text-transform: none;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
    display: inline-block;
    background: #1b1b1b;
    padding: 7px 15px 7px 15px;
    border-radius: 0;
	margin-top: 130px;
	
}
hr{
	color: black;
	text-align: center;
	align-content: center;
	margin: 0 auto;
}
.ne{
	width: 100%;
}










